# Dépendances
node_modules/

# Variables d'environnement (DONNÉES SENSIBLES)
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
*.swp
*.swo

# Dossier inspiration
inspo/
old versions/
