/* ------ Font ------ */

    /* Classes de typographies */
    body.arial { font-family: Arial, sans-serif; }
    body.times { font-family: 'Times New Roman', serif; }
    body.montserrat { font-family: 'Montserrat', sans-serif; }
    body.georgia { font-family: Georgia, serif; }
    body.verdana { font-family: Verdana, sans-serif; }
/* **  */
/* https://www.brailleinstitute.org/freefont/#download  */
 /* ** EIDO */
/* https://lpc.univ-amu.fr/fr/police-caracteres-eido.html */

/* ------ General ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Scroll snap effect */
body {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

/* ------ General Section ------ */
.page-section {
  height: 100vh;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

.section-intro {
  border: 2px solid gold;
}

/* ------ Section Styles ------ */
/* Section 1 */
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  background-color: #9381FF;
}

/* Section 2 */
.section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #b8b8ff;
  padding: 4em;
  gap: 10px;
}

/* Section 3 */
.section3 {
  background: #f8f7ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4em;
  gap: 72px;
}

.section3 .full-width-center {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
}

.section3 .side {
  flex: 0 0 20%;
  box-sizing: border-box;
}

.section3 .side img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Section 4 */
.section4 {
  background: #ffeedd;
  flex-direction: column;
  gap: 15px;
  display: flex;
  align-items: flex-start;
  padding: 4em;
}

/* Section 5 */
.section5 {
  background: #ffd8be;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4em;
  gap: 72px;
}

.section5 .full-width-center {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Section 6 */
.section6 {
  background: #ffccaa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4em;
  gap: 15px;
}

/* ------ Reusable Components ------ */
.full-width-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 30px;
}

.content-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  width: 90%;
  max-width: fit-content;
  height: 100%;
  max-height: fit-content;
}

.text-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  overflow: hidden;
  gap: 1rem;
}

.image-side {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.image-side img {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* ------ Typography ------ */
h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}